---
interface Props {
  position?: "left" | "right";
  images: string[];
  id: string;
}

const { position = "left", images, id }: Props = Astro.props;

const imagenes = [
  "images/jpg/img-prueba.jpg",
  "images/jpg/img-prueba-2.jpg",
  "images/jpg/img-prueba3.jpg",
];

console.log(images);
---

<div class="relative w-full z-10 lg:z-0 px-6 sm:px-16 lg:px-0" id={id}>
  {
    images.map((image) => (
      <img
        class="object-cover rounded-xl shadow-botton-content transition-transform duration-1000 ease-in-out top-0 lg:block"
        src={image}
        alt="Imagen 1 referecial del proyecto"
      />
    ))
  }
</div>
