---
import Project from "./Project.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ data }) => {
  return data.draft !== true;
});

// ordenar proyectos por fecha
const orderedProjects = projects.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});

// console.log(orderedProjects);
---

<!-- Projects -->
<div
  class="container max-w-screen-xl mx-auto px-4 md:px-8 lg:px-4 c-projects-height"
  id="proyectos"
>
  <h3
    class="font-semibold text-2xl md:text-3xl xl:text-4xl mb-9 w-full hide-top"
    id="projects-text"
  >
    Proyectos
  </h3>
  <div>
    {
      orderedProjects.map((project, i) => (
        <Project
          positionImg={i % 2 === 0 ? "left" : "right"}
          data={{ ...project.data, slug: project.slug }}
        />
      ))
    }
  </div>
</div>

<style>
  .c-projects-height {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
</style>
