---
import { IProject } from "@interfaces/projects.interface";
import Technology from "./Technology.astro";
import GithubButton from "./buttons/GithubButton.astro";
import LinkButton from "./buttons/LinkButton.astro";

interface Props {
  position?: "left" | "right";
  data: IProject;
}

const { position = "left", data }: Props = Astro.props;

const paddingClass =
  position == "right"
    ? "lg:pr-36 xl:pr-44 xl:pl-11"
    : "lg:pl-36 xl:pl-44 xl:pr-11";

const positionClass = position == "right" ? "right-0 lg:left-0" : "right-0";
---

<!-- Data -->
<div
  class="bg-zinc-100 dark:bg-zinc-800 rounded-xl pt-44 pb-8 lg:py-8 xl:py-14 relative pr-5 pl-5 sm:pr-8 sm:pl-8"
  class:list={[paddingClass]}
>
  <!-- Proyecto y Descripción -->
  <div class="mb-8">
    <h5 class="text-lg font-semibold mb-3">{data.title}</h5>
    <div>{data.description}</div>
  </div>
  <!-- Tecnologías -->
  <div class="pb-8 lg:pb-4">
    <h6 class="font-semibold mb-3 text-blue-500 dark:text-cyan-400">
      Tecnologías
    </h6>
    <div class="flex flex-wrap gap-3">
      {data.technology.map((tech) => <Technology name={tech} />)}
    </div>
  </div>
  <div
    class="absolute flex gap-2 bottom-0 p-3 lg:p-2 xl:p-3"
    class:list={[positionClass]}
  >
    <GithubButton />
    <LinkButton href={data.link} />
  </div>
</div>
