---
// import { SiJavascript } from "react-icons/si";
import { Icon } from "astro-icon";

const { name, color = "#FFB648" } = Astro.props;
---

<!-- item de Skill -->
<div
  class="flex items-center border border-zinc-300 dark:border-zinc-600 p-2.5 rounded-md color-hover min-w-full cursor-default transition duration-200 ease-in-out hover:-translate-y-1"
>
  <div
    class="bg-zinc-300 dark:bg-zinc-600 p-2 rounded-md transition duration-200 ease-in-out"
  >
    <!-- children -->
    <slot>
      <Icon name="simple-icons:javascript" class="w-6 h-6" />
    </slot>
  </div>
  <span class="pl-3 dark:text-zinc-300/90">{name}</span>
</div>

<!-- Estilos -->
<style define:vars={{ color }}>
  .color-hover:hover {
    border-color: var(--color);
  }

  .color-hover:hover > div {
    color: var(--color);
  }

  .color-hover:hover > span {
    color: #fff;
  }

  html:not(.dark) .color-hover:hover > div {
    background-color: var(--color);
    color: #000;
  }

  html:not(.dark) .color-hover:hover > span {
    color: #000;
  }
</style>
