<div>
  <div>
    <img src="images/jpg/img-prueba.jpg" alt="">
  </div>
  <br>
  <br>
  <br>
  <div>
    <h5>CMS Tienda de Ropa CM GARMENTS</h5>
    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, cum corporis. Tempora, autem maxime? Cum natus suscipit, itaque animi eum quisquam dolorem corrupti obcaecati reprehenderit praesentium doloremque reiciendis deserunt blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
    <h6>Tecnologías</h6>
  </div>
  Este es un proyecto
</div>