<div class="font-semibold font-family">
  <span
    class="block text-3xl sm:text-4xl md:text-5xl xl:text-6xl hide-left"
    id="home-main-text"
    >Hola, soy <span class="block sm:inline"
      >&#123 <h1 class="inline text-blue-500 dark:text-cyan-400">
        Wilmer Reluz
      </h1> &#125</span
    ></span
  >
  <h2
    class="pt-4 text-xl sm:text-2xl md:text-3xl xl:text-4xl hide-left"
    id="home-sub-text"
  >
    Desarrollador de Software
  </h2>
</div>
