<div class="absolute top-0 -z-10">
  <div class="flex flex-col md:flex-row w-screen h-screen relative overflow-hidden">
    <div class="md:basis-3/6">
      <img class="visible dark:visible dark:md:invisible" src="images/background/bg-3.png" alt="Background 1">
    </div>
    <div class="md:basis-3/6">
      <img class="invisible dark:visible absolute h-full" src="images/background/bg-1.svg" alt="Background 2">
    </div>
  </div>
</div>