---
import MenuButton from "./buttons/MenuButton";
import SoundButton from "./buttons/SoundButton";
import ThemeButton from "./buttons/ThemeButton";
---

<div class="flex content-center gap-2">
  <ThemeButton client:visible />
  <SoundButton client:visible />
  <MenuButton client:visible />
</div>