---
interface Props {
  title: string;
  href: string;
}

const { title, href }: Props = Astro.props;
---

<li class="hide-right">
  <a
    class="c-a inline-block my-1.5 hover:text-blue-500 dark:hover:text-cyan-400 transition duration-300 ease-in-out"
    id={`id-${href}`}
    href={`#${href}`}
  >
    {title}
  </a>
</li>

<style>
  @media screen and (max-width: 640px) {
    .c-a {
      margin: 12px 0;
      padding: 0px 25px;
      transition: all 0.4s ease;
    }
  }
</style>
