---
import { BsGithub, BsInstagram } from "react-icons/bs";
import { ImLinkedin } from "react-icons/im";
import { BsWhatsapp } from "react-icons/bs";
---

<div class="flex items-center gap-4 ml-auto text-zinc-500/80 dark:text-zinc-400">
  <a class="hover:text-black dark:hover:text-white" href="https://github.com/wilmerHRS" target="_blank" aria-label="Bot贸n de Github">
    <BsGithub size={20} />
  </a>
  <a class="hover:text-black dark:hover:text-white" href="https://www.linkedin.com/in/wilmer-reluz-30020420b" target="_blank" aria-label="Bot贸n de Linkedin">
    <ImLinkedin size={20} />
  </a>
  <a class="hover:text-black dark:hover:text-white" href="https://wa.me/51957263203?text=Hola%20Wilmer%20Reluz%20quiero%20comunicarme%20contigo" target="_blank" aria-label="Bot贸n de Whatsapp">
    <BsWhatsapp size={20} />
  </a>
  <a class="hover:text-black dark:hover:text-white" href="https://www.instagram.com/wilmer_reluz" target="_blank" aria-label="Bot贸n de Instagram">
    <BsInstagram size={20} />
  </a>
</div>