---
// import { BsGithub, BsInstagram } from "react-icons/bs";
// import { ImLinkedin } from "react-icons/im";
// import { BsWhatsapp } from "react-icons/bs";
import { Icon } from "astro-icon";
import Link from "./Link.astro";
---

<div
  class="flex items-center gap-4 ml-auto text-zinc-500/80 dark:text-zinc-400"
>
  <Link label="Enlace a Github" href="https://github.com/wilmerHRS">
    <Icon name="bx:bxl-github" class="w-6 h-6" />
  </Link>
  <Link
    label="Enlace a Linkedin"
    href="https://www.linkedin.com/in/wilmer-reluz-30020420b"
  >
    <Icon name="mdi:linkedin" class="w-6 h-6" />
  </Link>
  <Link
    label="Enlace a Whatsapp"
    href="https://wa.me/51957263203?text=Hola%20Wilmer%20Reluz%20quiero%20comunicarme%20contigo"
  >
    <Icon name="ic:baseline-whatsapp" class="w-6 h-6" />
  </Link>
  <Link
    label="Enlace a Instagram"
    href="https://www.instagram.com/wilmer_reluz"
  >
    <Icon name="mdi:instagram" class="w-6 h-6" />
  </Link>
</div>
