---
// import {BsGithub} from "react-icons/bs";
import { Icon } from "astro-icon";

interface Props {
  label: string;
  href: string;
}

const { label, href }: Props = Astro.props;
---

<a
  class="rounded-full p-2 transition duration-300 ease-in-out bg-blue-500 bg-slate-200 text-zinc-500 dark:text-white dark:bg-zinc-700 hover:bg-blue-500 hover:text-white dark:hover:bg-cyan-400 transition duration-200 ease-in-out hover:-translate-y-3 hover:scale-110"
  aria-label={label}
  href={href}
  target="_blank"
>
  <slot>
    <Icon name="mdi:linkedin" class="w-7 h-7" />
  </slot>
</a>
