---
import { Icon } from "astro-icon";

interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<a
  class="inline-block border-2 border-blue-500 text-blue-500 rounded-xl p-1 transition ease-in-out hover:bg-blue-500 hover:text-white dark:hover:bg-cyan-400 dark:border-cyan-400 dark:text-cyan-400 dark:hover:text-white"
  aria-label="Botón de enlace al Proyecto"
  href={href}
  target="_blank"
>
  <slot>
    <Icon name="ph:link-bold" class="w-6 h-6" />
  </slot>
</a>
