---
import Links from '@components/Footer/Links.astro';
---

<!-- Footer -->
<footer class="bg-zinc-100 dark:bg-zinc-800">
  <div class="container max-w-screen-xl mx-auto px-4 pb-16 md:pb-0">
    <div class="flex flex-wrap justify-between lg:grid lg:grid-cols-3 lg:content-center gap-5 md:gap-6 py-4">
      <span class="text-zinc-500/90 dark:text-zinc-300/80">© Todos los derechos reservados | 2023</span>
      <p class="ml-auto md:m-auto">
        Creado por <span class="inline font-semibold font-family">Wilmer Reluz Salvador</span>
      </p>
      <Links />
    </div>
    <!-- <div class="flex flex-wrap justify-between items-center py-4">
      <span class="font-light">© Todos los derechos reservados | 2023</span>
      <h4 class="font-medium">Creado por Wilmer Reluz</h4>
      <Links />
    </div> -->
  </div>
</footer>