<div class="absolute top-0 -z-10">
  <div class="flex flex-col md:flex-row w-screen h-screen relative overflow-hidden">
    <div class="md:basis-2/5">
      <img class=" dark:visible" src="/images/background/bg-4.png" alt="Background 1">
    </div>
    <div class="md:basis-3/5 rotate-180">
      <img class="xl:invisible dark:visible absolute h-full" src="/images/background/bg-4.png" alt="Background 2">
    </div>
  </div>
</div>