---
import BtnCV from "@components/Home/buttons/BtnCV";
---

<div
  class="w- md:my-auto bg-zinc-100 dark:bg-zinc-800 rounded-xl lg:basis-4/5 px-5 py-8 sm:px-8 lg:pl-20 lg:pr-14 lg:py-12 xl:py-16"
>
  <div class="lg:ml-10">
    <h3 class="font-semibold text-2xl md:text-3xl xl:text-4xl mb-8">
      Sobre Mí
    </h3>
    <p class="mb-6 dark:text-zinc-300/90">
      Estudiante de la Carrera de Desarrollo de Sistemas de Información,
      apasionado por el desarrollo web. Responsable, logrando primeros puestos a
      nivel de carrera, obteniendo becas por mérito. Autodidacta y en constante
      aprendizaje de nuevas tecnologías. Objetivo principal de aplicar mis
      conocimientos aprendidos en un proyecto u organización donde participe.
    </p>
    <div class="mb-8">
      <ul>
        <li class="mb-2">
          <span class="inline-block w-32 dark:text-zinc-300/90">Correo:</span>
          <span class="font-family font-semibold"
            >wilmer.reluz.salvador@gmail.com</span
          >
        </li>
        <li class="mb-2">
          <span class="inline-block w-32 dark:text-zinc-300/90"
            >Nro Celular:</span
          >
          <span class="font-family font-semibold">(+51) 957 263 203</span>
        </li>
      </ul>
    </div>
    <div>
      <BtnCV client:visible />
    </div>
  </div>
</div>
